.open {
  visibility: visible;
}
.closed {
  visibility: hidden;
}
.menu-container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.692);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  display: flex;
  justify-content: center;
  align-items: center;

  &__menu {
    background-color: white;
    width: 300px;
    height: 500px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a {
      padding: 20px 0;
    }
  }
}

// Tablet - 768 px width
@media only screen and (min-width: 768px) {
  .open {
    visibility: visible;
  }
  .closed {
    visibility: hidden;
  }
  .menu-container {
    &__menu {
      width: 500px;
      height: 500px;
      margin-bottom: 255px;

      a {
        padding: 20px 0;
        font-size: 30px;
      }
    }
  }
}

// Web - 1280 px width
@media only screen and (min-width: 1280px) {
}
