/* 
- Very Dark Gray: hsl(0, 0%, 17%)
- Dark Gray: hsl(0, 0%, 59%)
 */

.App {
  height: 20vh;
  width: 100vw;
  font-size: 18px;
  // overflow-y: hidden;

  .top-container {
    height: 50vh;
    width: 100vw;
    padding: 0 50px;
    padding-top: 100px;
    box-sizing: border-box;
    background-image: url(./assets/pattern-bg.png);
    background-position: 54% 0;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;

    .search-field-container {
      padding-bottom: 20px;
    }

    h2 {
      padding-top: 30px;
      margin-bottom: 10px;
      font-size: 27.5px;
      text-align: center;
    }
  }

  > div {
    height: 70vh;
    position: relative;
    z-index: 0;
  }
}

@media only screen and (min-width: 1440pxpx) {
}
